<div class="container">
	<div class="alert alert-info" role="alert">
  		<h2>INFORMACIÓN PROFESIONAL</h2>
	</div>
	<div class="row ">
		<div class="col-4 alert alert-success">
			<button type="button" class="btn btn-lg btn-primary" data-bs-toggle="popover" title="Mi Nombre Es" data-bs-content="Carlos Vasquez">Click Nombre</button>
		</div>		
		<div class="col-4 alert alert-primary">
			<button type="button" class="btn btn-lg btn-success" data-bs-toggle="popover" title="Mi Correo es" data-bs-content="ingeinfo2006@gmail.com">Click Correo</button>
		</div>
	</div>	
	<div class="row">
		<div class="col-5 alert alert-warning">
			<button type="button" class="btn btn-lg btn-info" data-bs-toggle="popover" title="Perfil" data-bs-content="Soy Persona Emprendedora e Independiente,mis hobbies son correr por la mañana y mis pasiones son la  programación y el fútbol">Click perfil</button>
		</div>
		<div class="col-3 alert alert-danger">
			<button type="button" class="btn btn-lg btn btn-dark" data-bs-toggle="popover" title="Trabajos o Estudios" data-bs-content="Estudios: Contador General y Ingeniería en Informática Trabajos:Hospital Base Valdivia 2010 y en Clínica las Condes el 2015">Click Trabajos o Estudios</button>
		</div>
	</div>
</div>

<div class="container alert alert-info" role="alert">
  	<%= link_to 'CONTACTÁME', new_contact_path %> 
</div>